Data Dictionary for initial dataframe (data2.csv)

* **Job Title**: contains the title of the job position that is being advertise
* **Job Info**: contains information about the job, such as whether it is full-time or part-time, and whether it is a job or an internship
* **Company Name**: contains the name of the company that is offering the job
* **Company Location**: contains the location of the company, including the city and state
* **Employees**: contains information about the size of the company, such as the number of employees
* **Industry**: contains the industry in which the company operates
* **Headquarters**: contains the location of the company's headquarters
* **Application deadline**: contains the date and time by which job applications must be submitted
* **Posted date**: contains the date on which the job was posted
* **Location type**: contains information about the type of location where the job is located, such as whether it is on-site or remote
* **US work authorization**: contains information about whether the company requires candidates to have US work authorization
* **Estimated pay**: contains information about the estimated pay for the job position.
* **Seasonal role**: contains information about the working perid for sesonal roles.
* **Company division**: contains information about the division of the company that is offering the job
* **Work study**: contains information about whether the job is a work study program

Important libraries

In [1]:
import pandas as pd
import numpy as np

Read data from Exel file and create DataFrame for future analysis

In [2]:
df = pd.read_csv("data2.csv")
df_modify = df.copy()

Explore initial datafram

In [3]:
df_modify.head()

,Job Title,Job Info,Company Name,Company Location,Employees,Industry,Headquarters,Application deadline,Posted date,Location type,US work authorization,Estimated pay,Seasonal role,Company division,Work study
0,Entry Level Insurance Underwriter,Full-Time ∙ Job,Auto-Owners Insurance Company,"Lakeland, FL\nIrmo, SC\nForest, VA\nLexington,...","5,000 - 10,000",Insurance,"Lansing, MI",4/4/2023 15:30,13-Jul-16,On-site,Required,NaN,NaN,NaN,NaN
1,Internships,Full-Time ∙ Internship,Auto-Owners Insurance Company,"Lakeland, FL\nIrmo, SC\nCharlotte, NC\nForest,...","5,000 - 10,000",Insurance,"Lansing, MI",4/4/2023 15:30,13-Jul-16,On-site,Required,NaN,NaN,NaN,NaN
2,Blood Bank Associate Technical Support Specialist,Full-Time ∙ Job,SCC Soft Computer,"Clearwater, FL","250 - 1,000",Internet & Software,"Clearwater, FL",3/13/2023 0:00,22-Aug-16,On-site,Required,$19.00 per hour,NaN,NaN,NaN
3,Lab/Mic Associate Technical Support Specialist,Full-Time ∙ Job,SCC Soft Computer,"Clearwater, FL","250 - 1,000",Internet & Software,"Clearwater, FL",3/13/2023 0:00,22-Aug-16,On-site,Required,$18.00 per hour,NaN,NaN,NaN
4,Computer Science Intern - Online Computer Scie...,Part-Time ∙ Internship,Coding4Youth,"Atlanta, GA\nHouston, TX\nPhiladelphia, PA\nCh...","10,000 - 25,000",Other Education,"San Jose, CA",9/29/2050 21:31,19-Sep-16,Remote,Required,$20.00 per hour,(6/5/17 - 9/12/90),NaN,NaN

In [4]:
df_modify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19447 entries, 0 to 19446
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job Title              19447 non-null  object
 1   Job Info               19447 non-null  object
 2   Company Name           19447 non-null  object
 3   Company Location       19447 non-null  object
 4   Employees              19447 non-null  object
 5   Industry               19447 non-null  object
 6   Headquarters           19442 non-null  object
 7   Application deadline   19447 non-null  object
 8   Posted date            19447 non-null  object
 9   Location type          19447 non-null  object
 10  US work authorization  19244 non-null  object
 11  Estimated pay          11334 non-null  object
 12  Seasonal role          4530 non-null   object
 13  Company division       3220 non-null   object
 14  Work study             1 non-null      object
dtypes: object(15)
memory usage: 2.2+ MB

In [5]:
df_modify.shape

(19447, 15)

In [6]:
df_modify.columns

Index(['Job Title', 'Job Info', 'Company Name', 'Company Location',
       'Employees', 'Industry', 'Headquarters', 'Application deadline',
       'Posted date', 'Location type', 'US work authorization',
       'Estimated pay', 'Seasonal role', 'Company division', 'Work study'],
      dtype='object')

Application deadline/ Post date

In [7]:
# Convert 'Application deadline' column to datetime format
df_modify['Application deadline'] = pd.to_datetime(df_modify['Application deadline'])

# Convert 'Posted date' column to datetime format
df_modify['Posted date'] = pd.to_datetime(df_modify['Posted date'])

# Extract the date and time components from 'Application deadline' column and create new columns
df_modify['Application deadline (date)'] = df_modify['Application deadline'].dt.date
df_modify['Application deadline (time)'] = df_modify['Application deadline'].dt.time

# Calculate the time difference between 'Application deadline (date)' and 'Posted date' columns and create a new column 'Application Window'
df_modify['Application Window'] = pd.to_datetime(df_modify['Application deadline (date)']) - df_modify['Posted date']

# Convert 'Application deadline (date)' column to datetime format
df_modify['Application deadline (date)'] = pd.to_datetime(df_modify['Application deadline (date)'])

# Drop 'Application deadline' column since we don't need it anymore
df_modify.drop('Application deadline', axis=1, inplace=True)

Job Type

In [8]:
# split the job_type column into two separate columns based on the " ∙ " separator
df_modify[['Employment Type', 'Job Type', "Payment Status"]] = df_modify['Job Info'].str.split(' ∙ ', expand=True)

# Modify the 'Payment Status' column to contain boolean values indicating if the job is paid or unpaid
df_modify['Payment Status'] = df_modify['Estimated pay'].apply(lambda x: 'Paid' if pd.notnull(x) else 'Unpaid')

# drop the original job_type column
df_modify.drop('Job Info', axis=1, inplace=True)

Location

In [9]:
# Caluclate the number of company locations based on the "\n" separator, if row contains one, else use 1
df_modify['Number of Location'] = df_modify['Company Location'].apply(lambda x: x.count('\n') + 1 if '\n' in x else 1)
#Replace '\n' with ' ' if 'Company Location' row contains one, else keep row without changes
df_modify['Company Location'] = df_modify['Company Location'].apply(lambda x: x.replace('\n', ' ') if '\n' in x else x)

Seasonal Role

In [10]:
# create role_start_date and role_end_date columns from seasonal_role
df_modify[['Role start date', 'Role end date']] = df_modify['Seasonal role'].str.split(' - ', expand=True)

# Remove the brackets from 'Role start date' and 'Role end date'
df_modify['Role start date'] = df_modify['Role start date'].str.replace('(','')
df_modify['Role end date'] = df_modify['Role end date'].str.replace(')','')

# Convert 'Role start date' and 'Role end date' to datetime format
df_modify['Role start date'] = pd.to_datetime(df_modify['Role start date'])
df_modify['Role end date'] = pd.to_datetime(df_modify['Role end date'])

# modify seasonal_role column to contain boolean values
df_modify['Seasonal role'] = df_modify['Seasonal role'].notna()

C:\Users\owner\AppData\Local\Temp\ipykernel_4784\3422222050.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_modify['Role start date'] = df_modify['Role start date'].str.replace('(','')
C:\Users\owner\AppData\Local\Temp\ipykernel_4784\3422222050.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_modify['Role end date'] = df_modify['Role end date'].str.replace(')','')

Estimated Salary

In [11]:
# Split the 'Estimated pay' column into two separate columns 'Pay rate' and 'Payment Period' based on the separator 'per'
df_modify[['Pay rate','Payment Period']] = df_modify['Estimated pay'].str.split('per', expand=True)

# Strip any leading or trailing white spaces in the 'Payment Period' column
df_modify['Payment Period'] = df_modify['Payment Period'].str.strip()


# Remove the dollar sign '$' from the 'Pay rate' column
df_modify['Pay rate'] = df_modify['Pay rate'].str.replace('$','')

# Extract the minimum and maximum salary values from the 'Pay rate' column and store them in new columns 'Min salary' and 'Max salary', respectively
df_modify['Min salary'] = df_modify['Pay rate'].apply(lambda x: x.split('-')[0].strip() if isinstance(x, str) and '-' in x else None)
df_modify['Max salary'] = df_modify['Pay rate'].apply(lambda x: x.split('-')[1].strip() if isinstance(x, str) and '-' in x and len(x.split('-')) >= 2 else None)
df_modify['Min salary'] = df_modify['Pay rate'].apply(lambda x: x.split('-')[0].strip().replace(',', '') if isinstance(x, str) else None)
df_modify['Max salary'] = df_modify['Pay rate'].apply(lambda x: x.split('-')[1].strip().replace(',', '') if isinstance(x, str) and '-' in x else None)

# Convert the 'Min salary' and 'Max salary' columns to numeric data types
df_modify['Min salary'] = pd.to_numeric(df_modify['Min salary'])
df_modify['Max salary'] = pd.to_numeric(df_modify['Max salary'])

# Fill any missing values in the 'Max salary' column with the corresponding value from the 'Min salary' column
df_modify['Max salary'].fillna(df_modify['Min salary'], inplace=True)

# Drop the original 'Estimated pay' column from the DataFrame using the drop() method with axis=1, inplace=True
df_modify.drop('Estimated pay', axis=1, inplace=True)

C:\Users\owner\AppData\Local\Temp\ipykernel_4784\605505757.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_modify['Pay rate'] = df_modify['Pay rate'].str.replace('$','')

Work study

In [12]:
#Drop the 'Work study' column from the dataframe.
df_modify.drop('Work study', axis=1, inplace=True)

Explore modified dataframe

In [13]:
df_modify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19447 entries, 0 to 19446
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Job Title                    19447 non-null  object
 1   Company Name                 19447 non-null  object
 2   Company Location             19447 non-null  object
 3   Employees                    19447 non-null  object
 4   Industry                     19447 non-null  object
 5   Headquarters                 19442 non-null  object
 6   Posted date                  19447 non-null  datetime64[ns]
 7   Location type                19447 non-null  object
 8   US work authorization        19244 non-null  object
 9   Seasonal role                19447 non-null  bool
 10  Company division             3220 non-null   object
 11  Application deadline (date)  19447 non-null  datetime64[ns]
 12  Application deadline (time)  19447 non-null  object
 13  Application Window           19447 non-null  timedelta64[ns]
 14  Employment Type              19447 non-null  object
 15  Job Type                     19447 non-null  object
 16  Payment Status               19447 non-null  object
 17  Number of Location           19447 non-null  int64
 18  Role start date              4530 non-null   datetime64[ns]
 19  Role end date                4530 non-null   datetime64[ns]
 20  Pay rate                     11334 non-null  object
 21  Payment Period               11334 non-null  object
 22  Min salary                   11334 non-null  float64
 23  Max salary                   11334 non-null  float64
dtypes: bool(1), datetime64[ns](4), float64(2), int64(1), object(15), timedelta64[ns](1)
memory usage: 3.4+ MB

In [14]:
print(df.columns)
print("_________________________")
print(df_modify.columns)
print("_________________________")
print(df_modify.shape)

Index(['Job Title', 'Job Info', 'Company Name', 'Company Location',
       'Employees', 'Industry', 'Headquarters', 'Application deadline',
       'Posted date', 'Location type', 'US work authorization',
       'Estimated pay', 'Seasonal role', 'Company division', 'Work study'],
      dtype='object')
_________________________
Index(['Job Title', 'Company Name', 'Company Location', 'Employees',
       'Industry', 'Headquarters', 'Posted date', 'Location type',
       'US work authorization', 'Seasonal role', 'Company division',
       'Application deadline (date)', 'Application deadline (time)',
       'Application Window', 'Employment Type', 'Job Type', 'Payment Status',
       'Number of Location', 'Role start date', 'Role end date', 'Pay rate',
       'Payment Period', 'Min salary', 'Max salary'],
      dtype='object')
_________________________
(19447, 24)

Change order of columns

In [15]:
df_modify = df_modify[['Job Title',
                       'Company Name',
                       'Industry',
                       'Company division',
                       
                       'Posted date',
                       'Application deadline (date)', 
                       'Application deadline (time)',
                       'Application Window',

                       'Employment Type',
                       'Job Type',
                       'Location type', 

                       'US work authorization',

                       'Seasonal role',
                       'Role start date', 
                       'Role end date',

                       'Payment Status',
                       'Payment Period',
                       'Pay rate', 
                       'Min salary', 
                       'Max salary',

                       'Headquarters',
                       'Company Location',
                       'Number of Location',

                       'Employees'
                       ]]

Data Dictionary for modified table (modified_data.csv)

* **Job Title**: The title of the job position being advertised.
* **Company Name**: The name of the company offering the job.
* **Industry**: The industry in which the company operates.
* **Company division**: The division of the company that is offering the job.
* **Posted date**: The date on which the job was posted.
* **Application deadline (date)**: The date by which job applications must be submitted.
 * **Application deadline (time)**: The time of day by which job applications must be submitted.
* **Application Window**: The time period between the job being posted and the application deadline.
* **Employment Type**: Whether the job is full-time, part-time, or some other type of employment.
* **Job Type**: Whether the job is a job or an internship.
* **Location type**: Whether the job is on-site or remote.
* **US work authorization**: Whether the company requires candidates to have US work authorization.
* **Seasonal role**: Whether the job is a seasonal role.
* **Role start date**: The date on which the seasonal role starts.
* **Role end date**: The date on which the seasonal role ends.
* **Payment Status**: Whether the job is paid or unpaid.
* **Payment Period**: Describes the period for payment in the job posting (year/month/hour).
* **Pay rate**: The rate at which the job pays.
* **Min salary**: The minimum salary for the job.
* **Max salary**: The maximum salary for the job.
* **Headquarters**: The location of the company's headquarters.
* **Company Location**: The location of the company offering the job.
* **Number of Location**: The number of locations where the company has offices.
* **Employees**: Information about the size of the company, such as the number of employees

In [16]:
df_modify.head()

,Job Title,Company Name,Industry,Company division,Posted date,Application deadline (date),Application deadline (time),Application Window,Employment Type,Job Type,...,Role end date,Payment Status,Payment Period,Pay rate,Min salary,Max salary,Headquarters,Company Location,Number of Location,Employees
0,Entry Level Insurance Underwriter,Auto-Owners Insurance Company,Insurance,NaN,2016-07-13,2023-04-04,15:30:00,2456 days,Full-Time,Job,...,NaT,Unpaid,NaN,NaN,NaN,NaN,"Lansing, MI","Lakeland, FL Irmo, SC Forest, VA Lexington, KY...",18,"5,000 - 10,000"
1,Internships,Auto-Owners Insurance Company,Insurance,NaN,2016-07-13,2023-04-04,15:30:00,2456 days,Full-Time,Internship,...,NaT,Unpaid,NaN,NaN,NaN,NaN,"Lansing, MI","Lakeland, FL Irmo, SC Charlotte, NC Forest, VA...",20,"5,000 - 10,000"
2,Blood Bank Associate Technical Support Specialist,SCC Soft Computer,Internet & Software,NaN,2016-08-22,2023-03-13,00:00:00,2394 days,Full-Time,Job,...,NaT,Paid,hour,19.00,19.0,19.0,"Clearwater, FL","Clearwater, FL",1,"250 - 1,000"
3,Lab/Mic Associate Technical Support Specialist,SCC Soft Computer,Internet & Software,NaN,2016-08-22,2023-03-13,00:00:00,2394 days,Full-Time,Job,...,NaT,Paid,hour,18.00,18.0,18.0,"Clearwater, FL","Clearwater, FL",1,"250 - 1,000"
4,Computer Science Intern - Online Computer Scie...,Coding4Youth,Other Education,NaN,2016-09-19,2050-09-29,21:31:00,12428 days,Part-Time,Internship,...,1990-09-12,Paid,hour,20.00,20.0,20.0,"San Jose, CA","Atlanta, GA Houston, TX Philadelphia, PA Chica...",11,"10,000 - 25,000"

In [17]:
df_modify.to_csv('modified_data.csv', index=False)